.cardbox{
    width: 100%;
    position: fixed;
    height: 70px;
    display: block;
 }


 .calender {
    width: auto;
    height: auto;
    display: flex
;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    border-radius: 10px;
    background: orangered;
    // background:rgba(97, 34, 72, 0.8);
    flex-direction: column;
    color: #fff;
    float: left;
    margin-top: 14px;
    margin-left: 15px;
    // filter: drop-shadow(8px 5px 13px #787676);
}

.loc-icon{
    font-size: x-large;
    position: relative;
    top: .3rem;
    left: -50%;
    transform: translate(30%, 0);
}

.text-1{
    line-height: 0.7;
    position: relative;
    top: -8px;
    left: 6px;
    font-size: large;
}

.text-2{
    position: relative;
    top: -5px;
    font-size: small;
    line-height: 1;
}

.address{
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    float: left;
    padding: 5px 15px;
}
.address h1{
    font-size: 24px;
    color: #000;
    margin: 0 0 7px;
    font-weight: 900;
    padding-top: 8px;
}
.address h5{
    font-size: 16px;
    color: #525252;
    margin: 0px 0px 7px 0px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.iconrht{
    width: 63px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    float: left;
    margin-left: -54px;
    font-size: 3em;
    margin-top: 6px;
}
  p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}