app-header{
	opacity: 1;
	transition: opacity 0.65s 50ms ease-in-out;
}
.product-header{
	position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    top: 15vh;
	margin-top: 1rem;
    align-items: center;
	z-index: 999;
	opacity: 1;
	transform: translateY(0);
	transition: all 0.25s ease-in-out;
}

.product-header > h3{
	grid-column: span 3;
    padding-left: 1rem;
}

.product-header > a{
	background-color: #efefef;
    margin-right: 0.5rem;
    height: 2.5rem;
    border-radius: 10px;
    text-decoration: none;
    color: #4d4d4d;
    text-align: center;
    line-height: 2.5;
    pointer-events: all;
	cursor: pointer;
}

.product-expand{
	transform: translateY(-25vh);
}

.product-shrink{
	transform: translateY(0);
}
