.content {
	position: relative;
	display: block;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 2em auto 1em;
	position: relative;
	padding: 0 0.5em;
	width: 100%;
	max-width: 1000px;

}

.grid__item {
	padding: 0 1vw;
	margin: 0 0 2vh;
}

.product {
	height: 100%;
	padding-top: 1em;
	position: relative;
	cursor: pointer;
}
.product__bg {
	height: 15em;
	background: var(--details-bg-down);
	position: relative;
}


.product__img {
	max-height: 15em;
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	pointer-events: none;
	transform: translate3d(-50%,0,0);
}


.product__title {
	position: relative;
	margin: 0.5em 0 0;
	font-size: 1.75em;
	color: var(--color-product-title);
	font-family: "Playfair Display", serif;
	font-weight: 700;
}

.product__subtitle {
	position: relative;
	margin: 0;
	text-transform: uppercase;
	color: var(--color-product-subtitle);
	font-size: 0.85em;
	letter-spacing: 0.115em;
}

.product:hover .product__subtitle {
	color: var(--color-link);
}

.product__description,
.product__price {
	opacity: 0;
	position: absolute;
}

.details {
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	padding: 4vh 0 1vh 1vw;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	pointer-events: none;
}

.details--open {
	pointer-events: auto;
}
.div__close{
	width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c74c4c;
    box-shadow: 7px 7px 20px #dbdfe2, -7px -7px 20px #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: black;
    opacity: 0;
	transition: all 0.3s;
}
.details > * {
	position: relative;
	opacity: 1;
}

.details__bg {
	width: 100%;
	position: fixed;
	left: 0;
}

.details__bg--up {
	top: 0;
	height: 100vh;
	background: var(--details-bg-up);
}

.details__bg--down {
	top: 40vh;
	height: 60vh;
	background: var(--details-bg-down);
}

.details__img {
	position: absolute;
	top: 10vh;
	right: 10vw;
	height: 80vh;
}

.details__bg,
.details__img {
	transform-origin: 0 0;
}

.details__title {
	margin: -1.5em 0 0.1em;
	font-size: 4.5em;
	color: var(--color-details-title);
	font-family: "Playfair Display", serif;
	font-weight: 700;
}

.details__subtitle {
	text-transform: uppercase;
	margin: 0.75em 0 1em 0;
	letter-spacing: 0.115em;
	font-size: 1.75em;
	color: var(--color-details-subtitle);
}

.details__description {
	line-height: 1.5;
	font-weight: bold;
	max-width: 50%;
	margin: 2em 0 0 0;
	color: var(--color-details-desc);
}

.details__price {
	font-size: 3em;
	font-weight: bold;
	color: var(--color-price);
}

.details__addtocart {
	border: 0;
	margin: auto 0 0 0;
	background: var(--color-bg-addtocart);
	color: var(--color-addtocart);
	padding: 0.75em 2em;
	font-weight: bold;
}


.details__close {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	background: none;
	margin: 2em;
	cursor: pointer;
	font-size: 0.85em;
	color: var(--color-close);
}

.dummy-menu {
	border: 0;
	background: none;
	padding: 0;
	margin: 2.75em 2.5em 0 0;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 0.85em;
	color: var(--color-close);
	cursor: pointer;
	z-index: 1000;
}

.details__magnifier {
	border: 0;
	background: none;
	background: var(--color-bg-magnifier);
	color: var(--color-magnifier);
	padding: 1em;
	border-radius: 50%;
	position: absolute;
	z-index: 1000;
	right: calc(21.5vh + 10vw);
	top: 75vh;
	cursor: pointer;
}

