<div class="content-search">
  <div class="search-align">
    <label position="floating" class="placeLabel" [ngClass]="{'hidden': isSearchbarFocused}">
      Search by <span style="letter-spacing: 2px; font-style: italic;">{{currentPlaceholder}}</span>
    </label>
    <input type="text" appCloseIcon [iconStyles]="closeIconStyles" class="input-with-end-icon" [value]="searchTerm"
      (focus)="onSearchbarFocus()" (input)="onInpuChange($event)" (blur)="onBlur($event)" (focusout)="focusOutFunction()" (keyup.enter)="onSearch()"/>
    <div [ngClass]="dividerShow? 'divider showDivider' : 'divider hideDivider'">|</div>
    <ion-icon class="icon-end-input" name="search" (click)="onSearch()"></ion-icon>
  </div>
  <div class="chip-spacing">
    <div class="chip" *ngFor="let entry of lastEntries;let i = index" (click)="autoPopulate(i)">
      <!-- <div class="chip-icon"> -->
        <ion-icon name="timer-outline"></ion-icon>
      <!-- </div> -->
      <!-- <div class="chip-text"> -->
        <p>{{entry}}</p>
      <!-- </div> -->
    </div>
  </div>
</div>